* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.counter-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(100, 148, 237, 0.9);
  text-align: center;
  width: 20rem;
  height: 20rem;
  padding: 2rem;
  border: 5px solid #000;
  border-radius: 0.3rem;
  cursor: progress;
}

.counter-container:hover {
  background-color: rgba(100, 148, 237, 1);
}

.counter-display,
.display-after-ten {
  background-color: #f52f6e;
  color: #fff;
  width: 5rem;
  font-size: 5rem;
  border-radius: 6%;
  cursor: pointer;
  margin-top: 2rem;
  text-wrap: wrap;
}

.counter-display:hover,
.display-after-ten:hover {
  animation: pulse 0.5s ease infinite alternate;
  background-color: rgba(240, 248, 255, 0.7);
  color: rgb(9, 35, 58);
}

.counter-button {
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 7rem;
  border: 2px solid rgba(82, 44, 44, 0.6);
  border-radius: 0.1rem;
  cursor: pointer;
  margin-top: 0.7rem;
  background-color: hotpink;
  color: #fff;
}

.counter-button:hover {
  animation: pulse 0.5s ease infinite alternate;
  background-color: rgba(240, 248, 255, 0.7);
  color: rgb(10, 49, 84);
  cursor: pointer;
}

.added-paragraph,
.added-paragraph-ten {
  overflow: hidden;
  color: gold;
  font-weight: 900;
  font-size: 3rem;
  align-self: center;
  user-select: none;
  width: 30rem;
  margin-top: 2rem;
}
.added-paragraph-ten {
  overflow: hidden;
  color: rgb(255, 51, 0);
  font-weight: 900;
  font-size: 3rem;
  align-self: center;
  user-select: none;
  width: 30rem;
  margin-top: 2rem;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
}
